* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

.color-span {
    color: #EEAD34;
    
}

body {
    font-family: 'Francois One', sans-serif;
}

